body{
    margin: 0;
    background-color: lightgray;;
}

:root{
    --main-color: white;
}
.bg{
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    filter:blur(px);
}

.bg-text{
    color: var(--main-color);
    font-weight:bold;
    border:3px solid #f1f1f1;
    position: absolute;
    top :50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
   


}

.home{
    background-image: url("./img/s.jpg");
   
}
.cb{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: colum;
   
}

.custom-section{
    padding: 50px;
}
.card {
    font-family: 'Rubik Mono One', sans-serif;
}
footer{
    background :black;
    padding:20px;
    color:white;
    margin-top:40px;
    
}